body{
    margin: 0;
    background-color: #ABC49C;
}

.header{
    margin: 30px;
    text-align: center;
    font-family: monospace;
    font-size: 40px;
    color: #F6E8D6;
}

.container{
    width: 60vw;
    height: 80vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    font-family: monospace;
    font-weight: lighter;
    text-align: center;
    font-size: 20px;
}

.tomato, .short-break, .long-break, .reset{
    width: 180px;
    padding: 10px;
    border: 2px solid #F6E8D6;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    color: #F6E8D6;
}

.timer{
    width: 200px;
    border-bottom: 2px solid #F6E8D6;
    font-size: 30px;
}

.tomato{
    background-color: #D85C5F;
}

.short-break{
   background-color: #64926F;
}

.long-break{
    background-color: #417156;
}

.reset{
    background-color: #E79472;
    padding-top: 10px;
}

.tomato:hover, .short-break:hover, .long-break:hover, .reset:hover{
    cursor: pointer;
    transform: scale(0.95);
}

.tomato-pic-right{
    width: 15vw;
    position: absolute;
    right: -100px;
    bottom: 60px;
    border-radius: 15px;
    border: 2px solid #F6E8D6;
    
}

.tomato-pic-left{
    width: 20vw;
    position: absolute;
    left: -150px;
    top: 60px;
    border-radius: 15px;
    border: 2px solid #F6E8D6;
   
}